@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
}

.container {
    margin: 0 5em;
}

.row-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 100vh;
}

.right-div {
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    margin-left: auto;
    flex: 1;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    background-size: 800px 850px;
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(pics/proactive.jpeg);
    background-color: green;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}



.intro-wrapper {
    padding: 50px;
    margin-top: 150px;
    
}

.intro {
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    font-size: 25px;
    position: absolute;
    display: flex;
    width: 81%;
}

.heading {
    font-family: "Noto Sans TC", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 3px;
    margin-bottom: 7%;
    color: black(176, 41, 41);
    text-align: center;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    display: block;
    border: 1px solid rgb(179, 171, 171);
    box-sizing: border-box;
    border-radius: 7px;
}

form button {
    background-color: #66B5EF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.forgot {
    font-size: 10px;
    margin-top: 20px;
}



form a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}



.login-form{

    width: 40%;
    flex-direction: column;
    padding: 150px;
}

.login-form img{
    width: 200px;
    padding-left: 70px;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 100%;
    }
    
    body {
        background-color: #ffffff;
        background-image: none;
        width: fit-content;
    }

    .login-form{
        flex-direction: column;
        padding: 150px;
    }

    h1{
        font-size: 11px;
        
    }

    .right-div { 
        display: none;
    }

    .login-form img{
        width: 200px;
        padding-left: 40px;
    
    }


    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 25px 0;
        display: block;
        border: 1px solid rgb(179, 171, 171);
        box-sizing: border-box;
        border-radius: 7px;
    }
    
    form button {

        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
}






